{% extends "base.html" %}
{% load staticfiles compress %}


{% block endhead %}
  {% compress js %}


  {% endcompress %}
{% endblock %}

{% block left %}
  <div class="leftpanelinner">
    <h3 class="sidebartitle"><i class="fa fa-fw fa-folder"></i> Files &amp; Folders</h3>
  </div>
{% endblock %}


{% block pageheader %}
  <div class="pageheader">
    <h2><i class="fa far fa-code"></i> {{ session.name }}</h2>
    <div class="breadcrumb-wrapper">
      <span class="label">Editing:</span>
      <ol class="breadcrumb">
        <li><a href="#todo">{{ session.name }}</a></li>
        <li class="active"><strong>CurrentActiveFile.js</strong></li>
      </ol>
    </div>
  </div>
{% endblock %}


{% block center %}
  <div id="session" class="row">
    <div id="editor-container" class="col-md-8">
      <div id="editor"></div>
    </div>
    <div id="right-container" class="col-md-4">
      <div id="chat" class="row">
          <div class="panel panel-default panel-alt widget-messaging">
            <div class="panel-heading">
                <div class="panel-btns"></div>
                <h3 class="panel-title"><i class="fa fa-comments"></i> Chat</h3>
              </div>
              <div class="panel-body">
                <ul>
                  <li>
                    <small class="pull-right">Dec 10</small>
                    <h4 class="sender">droxey</h4>
                    <small>Lorem ipsum dolor sit amet...</small>
                  </li>
                  <li>
                    <small class="pull-right">Dec 9</small>
                    <h4 class="sender">somedude</h4>
                    <small>Lorem ipsum dolor sit amet...</small>
                  </li>
                  <li>
                    <small class="pull-right">Dec 9</small>
                    <h4 class="sender">anotherguy</h4>
                    <small>Lorem ipsum dolor sit amet...</small>
                  </li>
                </ul>
              </div>
            </div>
        </div>
      <div id="docs" class="row">
          <div class="panel panel-default panel-alt widget-messaging">
            <div class="panel-heading">
              <div class="panel-btns"></div>
              <h3 class="panel-title"><i class="fa fa-book"></i> Documentation</h3>
            </div>
            <div class="panel-body">
              <iframe id="devdocs" src="http://devdocs.io" scrolling="yes" marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0"></iframe>
            </div>
          </div>
      </div>
    </div>
  </div>
{% endblock %}


{% block endbody %}
  {% compress js %}
    <script src="{% static 'js/sockjs/sockjs.min.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/ace/ace.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/ace/theme-tomorrow.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/ace/mode-javascript.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/ace/ext-modelist.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/ace/ext-language_tools.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'r3view/js/session.js' %}" type="text/javascript" charset="utf-8"></script>
    <script>
      // Initialize the session.
      const userData = {
        "username": "{{ request.user.username }}'",
        "repo": "{{ session.repo_url }}",
        "branch": "{{ session.branch }}",
        "channel": "{% url 'session' session.slug %}"
      };
      const currentSession = new CodeSession('{{ token }}', '{{ ws_url }}', userData);
    </script>
  {% endcompress %}
{% endblock %}
