@import "compass/reset";

body {
    overflow: hidden;
}

.mainpanel {
    height: 900px !important;
}

h3.sidebartitle {
    font-size: 13px;
    font-weight: bold;
    padding: 10px 0;
}

#session {
    height: 720px;


    #editor-container {
      height: 100%;
      position: relative;
      left: 9px;

        #editor {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            font-size: 13px;
            height: 796px;
        }
    }

    #right-container {
        height: 100%;

        #chat,
        #docs {
            height: 448px;
            width: 100%;
            margin: 0;
            background: white;

            .panel {
                border-radius: 0;
                -moz-border-radius: 0;
                -webkit-border-radius: 0;
                box-shadow: none;
                margin: 1px 0px 0 0;

                ul {
                    li {
                        small {
                            font-size: 11px;
                        }
                    }
                }
            }





            .panel-heading {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                padding: 16px 20px;

                h3.panel-title  {
                    i.fa {
                        display: inline-block;
                        position: relative;
                        left: -10px;
                        font-size: 20px;
                        vertical-align: middle;
                        margin-top: 0;
                    }
                }
            }
        }

        #docs {
            margin-top: 1px;

            #devdocs {

            }
        }
    }
}


div.logopanel {
    border-right: 0 none;
}

.oauth-login-btn {
    display: block;
    margin: 9px 8px;
    font-weight: 500;
}

.headerbar .topnav > ul > li > a {
    padding: 18px 15px 17px 15px;
}

.mainpanel {
    .contentpanel {
        padding: 0;
    }
}

.pageheader {
    padding: 15px 7px;

    .fa {
        border-radius: 0;
        border: none;
    }

    .breadcrumb-wrapper {
        right: 0;
        position: relative;
        bottom: 10px;

        ul.breadcrumb {
            margin: 0;

            li {
                a {
                    display: inline-block;
                    height: 52px;
                    vertical-align: middle;
                }
            }
        }
    }
}
