@import "compass/reset";

body {
    overflow: hidden;
}

h3.sidebartitle {
    font-size: 13px;
    font-weight: bold;
    padding: 10px 0;
}

#editor {
    margin: 0;
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    height: 415px;
    font-size: 13px;
}

#chat {
    margin: 0px -10px;
    position: absolute;
    top: 415px;
    bottom: 0;
    left: 0;
    right: 0;
}

div.logopanel {
    border-right: 0 none;
}

.oauth-login-btn {
    display: block;
    margin: 9px 8px;
    font-weight: 500;
}

a.menutoggle {
    display: none;
    height: inherit;
    width: inherit;
    padding: 13px 14px 14px 14px;
}

.mainpanel {
    .contentpanel {
        padding: 0;
    }
}

