{% load staticfiles compress %}

<div class="modal-header">
    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
    <h4 class="modal-title">Launch a Session</h4>
</div>
<div class="modal-body">
  <form id="session-form" method="POST" action="{% url 'launch' %}">
    <div class="form-group">
         {% csrf_token %}
         {{ form.as_p }}
    </div>
     <div class="form-group">
        <button data-dismiss="modal" class="btn btn-danger pull-left" type="button">Cancel</button>
        <button class="btn btn-primary pull-right" type="submit">Let's go!</button>
     </div>
    </form>
</div>

