{% extends "base.html" %}
{% load staticfiles compress %}


{% block endhead %}
  {% compress js %}


  {% endcompress %}
{% endblock %}

{% block left %}
  <div class="leftpanelinner">
    <h3 class="sidebartitle"><i class="fa fa-fw fa-folder"></i> Files &amp; Folders</h3>
  </div>
{% endblock %}


{% block pageheader %}
  <div class="pageheader">
    <h2><i class="fa far fa-code"></i> Title <span>...and a very brief summary about the application.</span></h2>
    <div class="breadcrumb-wrapper">
      <span class="label">Editing:</span>
      <ol class="breadcrumb">
        <li><a href="#todo">RepoName</a></li>
        <li class="active"><strong>CurrentActiveFile.js</strong></li>
      </ol>
    </div>
  </div>
{% endblock %}


{% block center %}
  <div id="session" class="row">
    <div id="editor-container" class="col-md-8">
      <div id="editor">
      {% if is_debug %}
      function foo(items) {
        var x = "All this is syntax highlighted";
        return x;
      }
      {% endif %}
    </div>
    </div>
    <div id="chat-container" class="col-md-4">
      <div id="chat">
        <ul class="nav nav-tabs nav-justified nav-dark">
          <li class="active"><a href="#chat-tab" data-toggle="tab"><strong>Chat</strong></a></li>
          <li><a href="#docs-tab" data-toggle="tab"><strong>Documentation</strong></a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="chat-tab">
            <h4 class="dark">Chat</h4>
            <p>chat goes here</p>
          </div>
          <div class="tab-pane" id="docs-tab">
            <h4 class="dark">Documentation</h4>
            <p>documentation goes here</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block right %}

{% endblock %}

{% block endbody %}
  {% compress js %}
    <script src="{% static 'js/sockjs/sockjs.min.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/ace/ace.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/ace/theme-tomorrow.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/ace/mode-javascript.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/ace/ext-modelist.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/ace/ext-language_tools.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'r3view/js/session.js' %}" type="text/javascript" charset="utf-8"></script>
    <script>
      // Initialize the session.
      const currentSession = new CodeSession('token', '{{ ws_url }}');
    </script>
  {% endcompress %}
{% endblock %}
