{% extends "base.html" %}
{% load staticfiles compress %}


{% block endhead %}
  {% compress js %}


  {% endcompress %}
{% endblock %}


{% block pageheader %}
  <div class="pageheader">
    <h2><i class="fa far fa-github"></i> Session Title {% comment %}<span>https://www.github.com/droxey/reponame</span>{% endcomment %}</h2>
    <div class="breadcrumb-wrapper">
      <span class="label">Editing:</span>
      <ol class="breadcrumb">
        <li><a href="">RepositoryName</a></li>
        <li><a>ProjectFolder</a></li>
        <li><a>ModuleFolder</a></li>
        <li class="active"><strong>CurrentActiveFile.js</strong></li>
      </ol>
    </div>
  </div>
{% endblock %}


{% block center %}
  <div class="row">
    <div id="editor"></div>
  </div>
  <div class="row">
    <div id="chat">
      <div class="col-sm-12">
        <div class="panel panel-default panel-timeline">
          <div class="panel-footer">
              <div class="media">
                  <a href="#" class="pull-left">
                      <img alt="" src="{% static 'ux/images/photos/user3.png' %}" class="media-object">
                  </a>
                  <div class="media-body">
                      <input type="text" class="form-control" placeholder="Write a comment">
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block endbody %}
  {% compress js %}
    <script src="{% static 'js/sockjs/sockjs.min.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/ace/ace.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/ace/theme-tomorrow.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/ace/mode-javascript.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/ace/ext-modelist.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/ace/ext-language_tools.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'r3view/js/session.js' %}" type="text/javascript" charset="utf-8"></script>
    <script>
      var isDebug = '{{ is_debug }}' === 'True';
      var sock = new SockJS('{{ ws_url }}', {
        debug: isDebug,
      });
      sock.connection = function() {
        console.log('[info] Client WebSocket connection established.')
      };
      sock.onmessage = function(msg) {
        console.log('[info] Client received data:', msg.data);
      };
    </script>
  {% endcompress %}
{% endblock %}
