/* line 5, ../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Applications/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/screen.scss */
body {
  overflow: hidden;
}

/* line 7, ../sass/screen.scss */
h3.sidebartitle {
  font-size: 13px;
  font-weight: bold;
  padding: 10px 0;
}

/* line 15, ../sass/screen.scss */
#session #editor-container {
  height: -webkit-fill-available;
  position: relative;
  margin-left: 10px;
}
/* line 20, ../sass/screen.scss */
#session #editor-container #editor {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 13px;
}
/* line 30, ../sass/screen.scss */
#session #chat-container {
  height: -webkit-fill-available;
  position: relative;
  left: -9px;
  margin-right: -20px;
}
/* line 36, ../sass/screen.scss */
#session #chat-container .panel {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  min-height: 350px;
  margin-bottom: 1px;
}
/* line 46, ../sass/screen.scss */
#session #chat-container .panel ul li small {
  font-size: 11px;
}
/* line 53, ../sass/screen.scss */
#session #chat-container .panel-heading {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* line 61, ../sass/screen.scss */
div.logopanel {
  border-right: 0 none;
}

/* line 65, ../sass/screen.scss */
.oauth-login-btn {
  display: block;
  margin: 9px 8px;
  font-weight: 500;
}

/* line 71, ../sass/screen.scss */
.headerbar .topnav > ul > li > a {
  padding: 18px 15px 17px 15px;
}

/* line 76, ../sass/screen.scss */
.mainpanel .contentpanel {
  padding: 0;
}

/* line 81, ../sass/screen.scss */
.pageheader {
  padding: 15px 7px;
}
/* line 84, ../sass/screen.scss */
.pageheader .fa {
  border-radius: 0;
  border: none;
}
/* line 89, ../sass/screen.scss */
.pageheader .breadcrumb-wrapper {
  right: 0;
  position: relative;
  bottom: 10px;
}
/* line 94, ../sass/screen.scss */
.pageheader .breadcrumb-wrapper ul.breadcrumb {
  margin: 0;
}
/* line 98, ../sass/screen.scss */
.pageheader .breadcrumb-wrapper ul.breadcrumb li a {
  display: inline-block;
  height: 52px;
  vertical-align: middle;
}
